@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);
figure,
h1,
h2,
h3,
h4,
ul,
h5,
p,
body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
strong{
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
img{
  display: block;
  max-width: 100%;
}
a{
  text-decoration: none;
}

.dd-row-fluid {
  *zoom: 1;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  [class*="span-"] {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    &:first-child {
      margin-left: 0 !important;
    }
  }
  .no-gutter {
    margin-left: 0 !important;
  }
  .pull-right {
    float: right;
  }
  @for $i from 1 through 12 {
    .span-#{$i} {
      width: 100%;
    }
  }

  @include mq('tablet') {
    $default-gutter-px: 16;
    $default-screen-px: 768;
    $default-column-px: 49;
    $default-column-perc: $default-column-px / $default-screen-px;
    $default-gutter-perc: $default-gutter-px / $default-screen-px;
    $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
    @for $i from 1 through 12 {
      .span-#{$i} {
        width: percentage($default-column-perc + ($default-column-gutter-perc * ($i - 1)));
      }
    }
    [class*="span"],
    [class*="span"].has-gutter {
      margin-left: percentage($default-gutter-perc);
    }
  }

  @include mq('desktop') {
    $default-gutter-px: 20;
    $default-screen-px: 1280;
    $default-column-px: 88.3333;
    $default-column-perc: $default-column-px / $default-screen-px;
    $default-gutter-perc: $default-gutter-px / $default-screen-px;
    $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
    @for $i from 1 through 12 {
      .span-#{$i} {
        width: percentage($default-column-perc + ($default-column-gutter-perc * ($i - 1)));
      }
    }
    [class*="span"],
    [class*="span"].has-gutter {
      margin-left: percentage($default-gutter-perc);
    }
  }
}