$breakpoints: (
        "phone": 320px,
        "phone-wide": 375px,
        "tablet": 768px,
        "tablet-wide": 1024px,
        "desktop": 1080px,
        "desktop-1400": 1400px,
        "desktop-1600": 1600px,
        "desktop-1800": 1800px,
);
$cubic-bezier-1: "0.19, 1, 0.22, 1";
$while: #ffffff;
$bgGrey: #141414;
$colorGrey: #323232;
$red: #ed1f2d;