@import "var";
@import "mixin";
@import "reset";
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";

body{
  background-color: $bgGrey;
  color: $while;
  font-size: 12px;
  line-height: 1.5em;
  @include mq('tablet'){
    font-size: 14px;
  }
  @include mq('desktop'){
    font-size: 16px;
  }
}
p{
  font-size: 12px;
  line-height: 1.5em;
  @include mq('tablet'){
    font-size: 14px;
  }
  @include mq('desktop'){
    font-size: 16px;
  }
}
.dd-container{
  padding: 0 15px;
  @include mq('tablet'){
    padding: 0 20px;
  }
  @include mq('desktop'){
    padding: 0 50px;
  }
}
.header-fixed{
  header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
.dd-s-section{
  padding-bottom: 60px;
}
header{
  .dd-b-header{
    .dd-logo{
      text-align: center;
      padding: 10px 0;
      @include mq('tablet'){
        padding: 20px 0;
        text-align: left;
      }
      a{
        display: inline-block;
        &:last-child{
          display: none;
        }
        img{
          width: 150px;
          margin-left: auto;
          margin-right: auto;
          @include mq('tablet'){
            margin-left: inherit;
          }
        }

      }
    }
    ul{
      text-align: center;
      padding-left: 0;
      @include mq('tablet'){
        height: 93px;
        line-height: 93px;
        text-align: right;
      }
      li{
        display: inline-block;
        list-style: none;
        margin-right: 15px;
        margin-bottom: 5px;
        font-size: 11px;
        text-transform: uppercase;
        @include mq('tablet'){
          font-size: 14px;
        }
        @include mq('desktop'){
          font-size: 18px;
        }
        &:last-child{
          margin-right: 0;
        }
        &.active{
          a{
            background: $red;
          }
        }
        a{
          color: $while;
          padding: 3px;
          &:hover{
            background-color: $red;
            @include transition(300ms, ease);
          }
        }
      }
    }
  }
}
.red-header{
  .dd-b-header{
    .dd-logo {
      @include mq('tablet'){
        text-align: center;
      }
      a {
        &:last-child {
          display: inline-block !important;
          img{
            margin: 0 auto;
            width: 140px;
          }
        }
        &:first-child {
          display: none !important;
        }
      }
    }
    .dd-container {
      padding: 0;
      .span-4 {
        width: 100%;
        background-color: $red;
      }
      .span-8 {
        width: 100%;
        background-color: $colorGrey;
        margin-left: 0;
        ul{
          text-align: center;
          padding: 8px 15px 0 15px;
          @include mq('tablet'){
            padding: 0;
            height: 60px;
            line-height: 60px;
          }
        }
      }
    }
  }
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-color: $colorGrey;
  color: $while;
  padding-top: 15px;
  font-size: 12px;
  text-align: center;
  @include mq('tablet'){
    padding-top: 0;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
  }
  @include mq('desktop'){
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    background-color: rgba(0,0,0,.7);

  }
  .dd-head{
    margin-bottom: 15px;
    @include mq('tablet'){
      margin-bottom: 0;
      text-align: left;
    }
  }
  .dd-foot{
    margin-bottom: 10px;
    @include mq('tablet'){
      padding-top: 8px;
    }
    @include mq('desktop'){
      padding-top: 12px;
    }
    a{
      display: inline-block;
      color: $while;
      width: 22px;
      height: 22px;
      margin: 5px;
      font-size: 14px;
      position: relative;
      border: 2px solid $while;
      @include rounded(50%);
      @include transition(0.3s,ease-in-out);
      &:hover{
        @include rounded(0);
        @include transition(0.3s,ease-in-out);

      }
      i{
        @include center-absolute('both')
      }
    }
    @include mq('tablet'){
      text-align: right;
    }
  }
}

.dd-s-works{
  ul{
    background-color: $bgGrey;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 0;
    @include mq('desktop'){
      font-size: 16px;
      padding: 0;
      height: 100px;
      line-height: 100px;
    }

    li{
      display: inline-block;
      color: $while;
      margin-left: 7px;
      margin-right: 7px;
      margin-bottom: 5px;
      padding-bottom: 3px;
      @include mq('tablet'){
        margin-bottom: 0;
      }
      a{
        padding: 3px;
        color: $while;
        position: relative;
        &:before{
          @include pseudo();
          width: 100%;
          height: 2px;
          left: 50%;
          bottom: 0;
          opacity: 0;
          max-width: 0;
          background-color: $red;
          @include transform(translateX(-50%));
          @include transition(300ms,ease-in-out);
        }
        &:hover{
          &:before{
            opacity: 1;
            max-width: 100%;
            @include transition(300ms,ease-in-out)
          }
        }
      }
      &.active{
        a{
          &:before{
            @include pseudo();
            width: 100%;
            height: 2px;
            left: 0;
            opacity: 1;
            max-width: 100%;
            @include transform(translateX(0));
            bottom: 0;
            background-color: $red;
          }
        }
      }
    }
  }
}
.dd-content-works{
  padding-bottom: 100px;
  @include mq('desktop'){
    padding-bottom: 0;
  }
  .dd-container{
    font-size: 0;
    line-height: 0;
    @include mq('desktop'){
      padding: 0;
    }
    .dd-project-item{
      position: relative;
      height: 220px;
      width: 100%;
      margin-bottom: 15px;
      overflow: hidden;
      @include mq('tablet'){
        width: calc(50% - 7.5px);
        display: inline-block;
        margin-right: 15px;
        &:nth-child(2n){
          margin-right: 0;
        }
      }
      @include mq('desktop'){
        width: 20%;
        margin-right: 0;
        margin-bottom: 0;
        height: 205px;
      }
      @include mq('desktop-1400'){
        height: 215px;
      }
      @include mq('desktop-1600'){
        height: 240px;
      }
      @include mq('desktop-1800'){
        height: 290px;
      }

      a{
        img{
          @include transition(400ms, ease-in-out);
        }
        &:hover{
          img{
            opacity: 0;
            @include transition(400ms, ease-in-out);
          }
          .dd-content{
            opacity: 1;
            @include transition(400ms, ease-in-out);
          }
          .dd-feature-image{
            &:before{
              @include pseudo();
              opacity: 1;
              @include transition(400ms, ease-in-out);
            }
          }
        }
        .dd-feature-image{
          position: relative;
          &:before{
            @include pseudo();
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            @include transition(400ms, ease-in-out);
          }
          img{
            min-width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .dd-content{

          position: absolute;
          width: 95%;
          @include center-absolute('both');
          color: $while;
          text-align: center;
          @include transition(400ms, ease-in-out);
          @include mq('desktop'){
            opacity: 0;
          }
          h4{
            font-size: 18px;
            text-transform: uppercase;
            margin-bottom: 10px;
          }
          p{
            font-size: 16px;
          }
        }
        .dd-feature-image{
          background-size: cover;
        }
      }
    }
  }
}

.dd-s-reel{
  .dd-vimeo{
    @include mq('desktop'){
      width: 100%;
      height: auto;
    }
    iframe{
      width: 100%;
      height: calc(100vh - 216px);
      max-height: 100vh !important;
      @include mq('tablet'){
        height: calc(100vh - 210px);
      }
      @include mq('desktop'){
        height:100%;
      }
    }
  }
}
.dd-s-about{
  .dd-container{
    @include mq('desktop'){
      max-width: 1280px;
      margin: 0 auto;
    }
    .dd-banner{
      padding-top: 20px;
      padding-bottom: 20px;
      @include mq('desktop'){
        padding-top: 40px;
        padding-bottom: 40px;
      }
      @include mq('desktop-1800'){
        padding-top: 60px;
        padding-bottom: 60px;
      }
      img{
        min-width: 100%;
        height: 170px;
        object-fit: cover;
        @include mq('tablet'){
          height: 250px;
        }
        @include mq('desktop'){
          height: 350px;
        }
        @include mq('desktop-1800'){
          height: 400px;
        }
      }
    }
    .dd-content-about{
      h2{
        color: $red;
        font-size: 20px;
        margin-bottom: 20px;
        @include mq('desktop'){
          font-size: 36px;
          line-height: 44px;
        }
      }
      p{
        color: $while;
        margin-bottom: 20px;
        @include mq('desktop'){
          margin-bottom: 30px;

        }
      }
    }
  }
}
.dd-s-home{
  padding-bottom: 0;
  padding-top: 0;
}
.dd-s-clients{
  padding-top: 20px;
  @include mq('tablet'){
    padding-top: 40px;

  }
  @include mq('desktop'){
    padding-top: 100px;

  }
  .dd-container{
    font-size: 0;
    text-align: center;
    a{
      display: inline-block;
      width: 50%;
      margin-bottom: 20px;
      @include mq('tablet'){
        width: 25%;
      }
      @include mq('desktop'){
        width: 10%;
      }
      img{
        width: 100%;
      }
    }
  }
}
.dd-s-contact{
  padding-top: 30px;
  padding-bottom: 100px;
  @include mq('tablet'){
    padding-top: 60px;

  }
  @include mq('desktop'){
    padding-top: 100px;
  }
  .dd-container{
    max-width: 1280px;
    margin: 0 auto;
    h1{
      color: $red;
      font-size: 18px;
      margin-bottom: 10px;
      @include mq('tablet'){
        font-size: 20px;
        margin-bottom: 15px;
      }
      @include mq('desktop'){
        font-size: 24px;
        margin-bottom: 20px;
      }
    }
    ul{
      padding-left: 0;
      li{
        list-style: none;
        margin-bottom: 10px;
        @include mq('tablet'){
          margin-bottom: 15px;
        }
        @include mq('desktop'){
          margin-bottom: 20px;
        }
      }
    }
    form{
      input{
        margin-bottom: 20px;
        font-style: italic;
        &::placeholder{
          color: $while;
        }
        &[type = text],
        &[type = email]{
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          color: $while;
          height: 60px;
          line-height: 60px;
          text-indent: 15px;
          width: 100%;
          background: #3d3d3d;
          border: 0;
          @include rounded(0);
        }
         &[type = submit]{
           -webkit-appearance: none;
           -moz-appearance: none;
           appearance: none;
           color: $while;
           height: 50px;
           line-height: 50px;
           text-align: center;
           text-transform: uppercase;
           font-weight: bold;
           border: 0;
           @include rounded(0);
           background: $red;
           padding: 0 50px;
           cursor: pointer;
        }
      }
      textarea{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: $while;
        text-indent: 15px;
        width: 100%;
        background: #3d3d3d;
        border: 0;
        resize: none;
        margin-bottom: 20px;
        @include rounded(0);
        font-style: italic;

        &::placeholder{
          color: $while;
        }
      }
      p{
        color: #3d3d3d;
        margin-bottom: 20px;
      }
    }
  }
  .confirm-container{
    h2{
      margin-bottom: 15px;
    }
    p{
      margin-bottom: 20px;
    }
  }
}
.dd-s-work-detail{
  .dd-vimeo{
    margin-bottom: 30px;
    @include mq('desktop'){
      width: 100%;
      height: auto;
    }
    iframe{
      width: 100%;
      height: 50%;
      max-height: 100vh !important;
      @include mq('desktop'){
        height:100%;
      }
    }
  }
  .dd-feature-image{
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    @include mq('tablet'){
      height: 400px;
    }
    @include mq('desktop'){
      height: 600px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .dd-container{
    max-width: 1280px;
    margin: 0 auto;
  }
  .dd-b-content-work-detail{
    margin-bottom: 50px;
    @include mq('desktop'){
      margin-bottom: 100px;
    }
    h2{
      font-size: 24px;
      color: $red;
      margin-bottom: 20px;
    }
    p{
      margin-bottom: 20px;
    }
    ul{
      padding-left: 0;
      @include mq('tablet'){
        padding-left: 50px;
      }
      @include mq('desktop'){
        padding-left: 130px;
      }
      li{
        list-style: none;
        margin-bottom: 15px;
      }
    }
  }
  .dd-b-gallery-work-detail{
    .dd-b-work-detail-slider{
      .dd-b-slide{
        font-size: 0;
        line-height: 0;
        height: auto;
        a{
          width: 50%;
          height: 105px;
          display: inline-block;
          @include mq('tablet'){
            height: 215px;
          }
          @include mq('desktop'){
            height: 375px;
          }
          @include mq('desktop-1400'){
            height: 400px;
          }
          @include mq('desktop-1600'){
            height: 450px;
          }
          @include mq('desktop-1800'){
            height: 530px;
          }
          img{
            min-width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

      }
      margin-bottom: 30px;
      @include mq('desktop'){
        margin-bottom: 50px;
      }
    }
    .dd-arrow-slider{
      text-align: center;
      margin-bottom: 150px;
      a{
        display: inline-block;
        color: #9c9c9c;
        margin-right: 20px;
        &:last-child{
          margin-right: 0;
        }
        &.arrow-slider{
          width: 41px;
          height: 41px;
          border: 2px solid #9c9c9c;
          position: relative;
          &:before{
            @include pseudo();
            top: 50%;
            left: 50%;
            width: 15px;
            height: 15px;
            border-top: 2px solid #9c9c9c;
            border-right: 2px solid #9c9c9c;
            @include transform(translate(-75%,-50%) rotate(45deg));
          }
          &.arrow-slider-pre{
            &:before{
              @include transform(translate(-25%, -50%) rotate(-135deg));
            }
          }
        }
      }
    }
  }
}
.mobile-hidden{
  display: none;
}
.tablet-hidden{
  display: inherit;
}
@include mq('tablet'){
  .mobile-hidden{
    display: inherit;
  }
  .tablet-hidden{
    display: none;
  }
}

.dd-menu-button {
  font-size: 0;
  line-height: 0;
  float: right;
  width: 28px;
  height: 40px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0.0);
  .dd-bars {
    width: 28px;
    height: 40px;
    display: block;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0.0);
    position: relative;
    z-index: 105;
    &:after {
      width: 28px;
      height: 40px;
      @include pseudo;
      top: 0;
      left: 0;
      pointer-events: none;
    }
    .dd-bar {
      width: 28px;
      height: 2px;
      @include rounded(1px);
      overflow: hidden;
      position: absolute;
      z-index: 10;
      -webkit-transition-duration: 0.6s;
      transition-duration: 0.6s;
      -webkit-transition-timing-function: cubic-bezier($cubic-bezier-1);
      transition-timing-function: cubic-bezier($cubic-bezier-1);
      .dd-bar-in {
        width: 84px;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition-duration: 0.6s;
        transition-duration: 0.6s;
        -webkit-transition-timing-function: cubic-bezier($cubic-bezier-1);
        transition-timing-function: cubic-bezier($cubic-bezier-1);
        &:before,
        &:after {
          width: 28px;
          height: 2px;
          @include pseudo;
          top: 0;
          background-color: white;
          -webkit-transition-timing-function: cubic-bezier($cubic-bezier-1);
          transition-timing-function: cubic-bezier($cubic-bezier-1);
          -webkit-transition-property: -webkit-transform;
          transition-property: -webkit-transform;
          transition-property: transform;
          transition-property: transform, -webkit-transform;
          .is-mini & {
            background-color: white;
          }
        }
        &:before {
          left: -56px;
        }
        &:after {
          left: 0;
        }
        &.dd-bar-in-cross-01,
        &.dd-bar-in-cross-02 {
          -webkit-transform: translateX(-33.3%);
          transform: translateX(-33.3%);
          @include opacity(0);
        }
        &.dd-bar-in-cross-01 {
          -webkit-transition-delay: 0.0s;
          transition-delay: 0.0s;
        }
        &.dd-bar-in-cross-02 {
          -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
          &:before,
          &:after {
            -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
          }
        }
        &.dd-bar-in-01 {
          -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
        }
        &.dd-bar-in-02 {
          -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
          &:before,
          &:after {
            -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
          }
        }
        &.dd-bar-in-03 {
          -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
          &:before,
          &:after {
            -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
          }
        }
      }
      &.dd-bar-01,
      &.dd-bar-02,
      &.dd-bar-03,
      &.dd-bar-cross-01,
      &.dd-bar-cross-02 {
        left: 0px;
      }
      &.dd-bar-01 {
        top: 11px;
      }
      &.dd-bar-02,
      &.dd-bar-cross-01,
      &.dd-bar-cross-02 {
        top: 19px;
      }
      &.dd-bar-03 {
        top: 27px;
      }
      &.dd-bar-cross-01 {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &.dd-bar-cross-02 {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
    .is-opened & {
      .dd-bar {
        .dd-bar-in {
          &:before,
          &:after {
            background-color: #323232 !important;
          }
        }
        .dd-bar-in-01,
        .dd-bar-in-02,
        .dd-bar-in-03 {
          -webkit-transform: translateX(33.3%);
          transform: translateX(33.3%);
        }
        .dd-bar-in-01 {
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
        }
        .dd-bar-in-02 {
          -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
        }
        .dd-bar-in-03 {
          -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
        }
        .dd-bar-in-cross-01,
        .dd-bar-in-cross-02 {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          @include opacity(1);
        }
        .dd-bar-in-cross-01 {
          -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
        }
        .dd-bar-in-cross-02 {
          -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
        }
      }
      &:hover {
        .dd-bar {
          .dd-bar-in-cross-01::before,
          .dd-bar-in-cross-01::after,
          .dd-bar-in-cross-02::before,
          .dd-bar-in-cross-02::after {
            -webkit-transition-duration: 1s;
            transition-duration: 1s;
          }
          .dd-bar-in-01::before,
          .dd-bar-in-01::after,
          .dd-bar-in-02::before,
          .dd-bar-in-02::after,
          .dd-bar-in-03::before,
          .dd-bar-in-03::after {
            -webkit-transition-duration: 0s;
            transition-duration: 0s;
          }
        }
      }
    }
    &:hover {
      .dd-bar {
        .dd-bar-in {
          &:before,
          &:after {
            -webkit-transform: translateX(200%);
            transform: translateX(200%);
          }
        }
        .dd-bar-in-01::before,
        .dd-bar-in-01::after,
        .dd-bar-in-02::before,
        .dd-bar-in-02::after,
        .dd-bar-in-03::before,
        .dd-bar-in-03::after {
          -webkit-transition-duration: 1s;
          transition-duration: 1s;
        }
        .dd-bar-in-cross-01::before,
        .dd-bar-in-cross-01::after,
        .dd-bar-in-cross-02::before,
        .dd-bar-in-cross-02::after {
          -webkit-transition-duration: 0s;
          transition-duration: 0s;
        }
      }
    }
  }
}

.dd-b-header-moblie{
  padding: 16px 0;
  .dd-container{
    .dd-b-head{
      position: relative;
      z-index: 99;
      font-size: 0;
      line-height: 0;
      .dd-logo{
        display: inline-block;
        vertical-align: top;
        z-index: 100;
        position: relative;
        img{
          height: 40px;
          width: auto;
        }
      }
      .dd-menu-button{
        font-size: 0;
        line-height: 0;
        float: right;
        width: 28px;
        height: 40px;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    }

    .dd-b-menu{
      overflow: hidden;
      position: fixed;
      z-index: 98;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      background-color: #FFFFFF;
      @include transition(0.3s,ease-in-out);
      @include transform(scale(0));
      @include opacity(0);
      ul{
        position: relative;
        top: 50%;
        @include transform(translateY(-50%));
        width: 100%;
        li{
          font-size: 16px;
          margin-bottom: 15px;
          line-height: 25px;
          text-align: center;

          a{
            color: #323232;
          }
          &.active{
            a{
              color: #ef202f;
            }
          }
        }
      }
    }
  }
}
.is-opened{
  .dd-b-header-moblie{
    .dd-b-menu{
      @include transform(scale(1));
      @include opacity(1);

    }
  }
}