<div class="confirm-container">
    <!--This will contain the confirmation when the email is successfully sent-->
</div>
<form class="flexiContactForm" role="form"
      data-request="{{ contactForm  }}::onMailSent"
      data-request-update="'{{ contactForm  }}::confirm': '.confirm-container'">

    <input type="text" name="name" placeholder="Your name *">
    <input type="email" name="email" placeholder="Email *">
    <input type="text" name="subject" placeholder="Subject">
    <textarea name="body" cols="30" rows="10" placeholder="Message"></textarea>
    <p>* = required field</p>
    <input type="submit" value="SEND">
</form>