

{% for work in cpWork %}
<div class="dd-project-item">
    <a href="{{'work-detail'|page ({'slug': work.slug}) }}">
        <div class="dd-feature-image" style="background-image: url({{work.gif_image.path}})">
            <img src="{{work.feature_image.path}}" alt="">
        </div>
        <div class="dd-content">
            <h4>{{work.title}}</h4>
            <p>{{work.description}}</p>
        </div>
    </a>
</div>
{% endfor %}
