==
<!-- Footer -->
<footer>
    <div class="dd-container dd-row-fluid">
        <div class="dd-head span-6">
            © Alipo Vietnam 2018 All Rights Reserved
        </div>
        <div class="dd-foot span-6">
            {% for social in generaloption.social_network%}
            <a href="{{social.link_social}}">
                <i class="fa fa-{{social.name_social}}" aria-hidden="true"></i>
            </a>
            {% endfor %}
        </div>
    </div>
</footer>