[menu]
start = "id-1"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2
==
<header>
    <div class="dd-b-header mobile-hidden">
        <div class="dd-container dd-row-fluid">
            <div class="span-4">
                <div class="dd-logo">
                    <a href="{{ ''|app }}"><img src="{{generaloption.logo_normal.path}}" alt="logo"></a>
                    <a href="{{ ''|app }}"><img src="{{generaloption.logo_redmenu.path}}" alt="logo"></a>
                </div>
            </div>
            <div class="span-8">
                {% component "menu" %}
            </div>
        </div>
    </div>
    <div class="dd-b-header-moblie tablet-hidden">
        <div class="dd-container">
            <div class="dd-b-head">
                <a  href="{{ ''|app }}" class="dd-logo"><img src="{{generaloption.logo_normal.path}}" alt="logo"></a>
                <a href="#" class="dd-menu-button js-open-menu">
                <span class="dd-bars">
                    <span class="dd-bar dd-bar-01">
                        <span class="dd-bar-in dd-bar-in-01"></span>
                    </span>
                    <span class="dd-bar dd-bar-02">
                        <span class="dd-bar-in dd-bar-in-02"></span>
                    </span>
                    <span class="dd-bar dd-bar-03">
                        <span class="dd-bar-in dd-bar-in-03"></span>
                    </span><div class="dd-bar dd-bar-cross-01">
                    <div class="dd-bar-in dd-bar-in-cross-01"></div>
                </div>
                    <div class="dd-bar dd-bar-cross-02">
                        <div class="dd-bar-in dd-bar-in-cross-02"></div>
                    </div>
                </span>
                </a>

                <div class="dd-b-menu js-menu">
                    {% component "menu" %}
                </div>

            </div>
        </div>
    </div>
</header>
