<section class="dd-s-section dd-s-clients">
    <div class="dd-container">
        {% for client in cpClients.clients %}
        <a href="{{client.clients_url}}">
            <img src="{{client.clients_logo| media}}" alt="clients alipo">
        </a>
        {% endfor%}
    </div>
</section>