
<section class="dd-section dd-s-work-detail">
    {% if singleWork.vimeo_id %}
    <div class="dd-vimeo">
        <iframe src="https://player.vimeo.com/video/{{singleWork.vimeo_id}}?title=0&byline=0&portrait=0&autoplay=true"
                frameborder="0"
                webkitAllowFullScreen
                mozallowfullscreen
                allowFullScreen>
        </iframe>
    </div>
    {% else %}
    <div class="dd-feature-image">
        <img src="{{singleWork.feature_image.path}}" alt="feature image">
    </div>
    {% endif %}
    <div class="dd-b-content dd-b-content-work-detail">
        <div class="dd-container">
            <h2>{{singleWork.introduce_title}}</h2>
            <div class="dd-row-fluid">
                <div class="span-6">
                   {{singleWork.introduce_description| raw}}
                </div>
                <div class="span-6">
                    <ul>
                        {% for info in singleWork.project_info%}
                        <li>{{info.title}}: {{info.description}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="dd-b-gallery-work-detail">
            {% set numSlider = singleWork.gallery_image.count/4 %}
            {% set startSlide = 0 %}
            <div class="dd-b-work-detail-slider">
                {% for i in 0..(numSlider|round(0, 'ceil') - 1) %}
                {% set varNumslider = 0 %}
                <div class="dd-b-slide">
                    {% for gallery_img in singleWork.gallery_image|slice(startSlide,4) %}
                    <a href="{{gallery_img.path}}">
                        <img src="{{gallery_img.path}}" alt="gallery image">
                    </a>
                    {% endfor %}
                    {% set varNumslider = varNumslider + 1 %}
                    {% set startSlide = startSlide + (4*varNumslider) %}
                </div>
                {% endfor %}
            </div>
        <div class="dd-arrow-slider">
            <a href="#" class="arrow-slider arrow-slider-pre"></a>
            <a href="javascript:void(0)">
                <img src="{{'assets/images/arrow-mid.png'|theme}}" alt="arrow slider">
            </a>
            <a href="#" class="arrow-slider arrow-slider-next" ></a>
        </div>
    </div>
</section>