[contactForm]
injectBootstrapAssets = 0
injectMainScript = 1

==
<?php
use Domdom\Cms\Models\GaneralOption;

        function onStart(){
            $this['generaloption'] = GaneralOption::find(1);
        }
?>
==
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="liemdotv">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link href="{{ [
        'assets/css/jquery.fullpage.min.css',
        'assets/css/slick.css',
        'assets/css/magnific-popup.css',
        'assets/css/slick-theme.css',
        'assets/css/base.css',
    ]|theme }}" rel="stylesheet" media="screen" />
        {% styles %}
    </head>
    <body class="{{ this.page.bodyClass }}">

    {% partial "header" %}


    {% page %}


    {% partial "footer" %}

    <script src="{{ [
            'assets/js/jquery.min.js',
            'assets/js/css-browser-selector.js',
            'assets/js/jquery.magnific-popup.min.js',
            'assets/js/scrolloverflow.min.js',
             'assets/js/jquery.easings.min.js',
            'assets/js/jquery.fullpage.min.js',
            'assets/js/slick.min.js',
            'assets/js/main.js',
        ]|theme }}">
    </script>
    {% framework extras %}
    {% scripts %}
    </body>
</html>