<section class="dd-s-section dd-s-about">
   <div class="dd-container">
      <div class="dd-banner">
         <img src="{{cpAbout.feature_image.path}}" alt="about page">
      </div>
      <div class="dd-b-content dd-content-about">
         <div class="dd-row-fluid">
            <div class="span-4">
               <h2>{{cpAbout.title}}</h2>
            </div>
            <div class="span-8">
               {{cpAbout.description| raw}}
            </div>
         </div>
      </div>
   </div>
</section>