/* ----------------------- External Font ----------------------- */
/* ---------- Media Queries ---------- */
/* ---------- Placeholder Style ---------- */
/* ---------- Center an element (absolute) ---------- */
/* ---------- Center an element (relative) ---------- */
/* ---------- Animation Mixin Setup ---------- */
/* ---------- Gradient ---------- */
/* ----------------------- Rounded ----------------------- */
/* ----------------------- Opacity ----------------------- */
/* ----------------------- Transform ----------------------- */
/* ----------------------- Rotation ----------------------- */
/* ----------------------- Scale ----------------------- */
/* -------------------- Scale Horizontal -------------------- */
/* ------------------ Transform Origin ------------------ */
/* ----------------------- Transition ----------------------- */
/* ------------------ Transition Specific ------------------ */
/* ----------------------- Pseudo ----------------------- */
/* ----------------------- Filter ----------------------- */
/*
  grayscale      ex: filter: grayscale(100%);
  sepia          ex: filter: sepia(100%);
  saturate       ex: filter: saturate(0%);
  hue-rotate     ex: filter: hue-rotate(45deg);
  invert         ex: filter: invert(100%);
  brightness     ex: filter: brightness(15%);
  contrast       ex: filter: contrast(200%);
  blur           ex: filter: blur(2px);
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";
figure,
h1,
h2,
h3,
h4,
ul,
h5,
p,
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  display: block;
  max-width: 100%; }

a {
  text-decoration: none; }

.dd-row-fluid {
  *zoom: 1; }
  .dd-row-fluid:before {
    content: "";
    display: table; }
  .dd-row-fluid:after {
    content: "";
    display: table;
    clear: both; }
  .dd-row-fluid [class*="span-"] {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
    .dd-row-fluid [class*="span-"]:first-child {
      margin-left: 0 !important; }
  .dd-row-fluid .no-gutter {
    margin-left: 0 !important; }
  .dd-row-fluid .pull-right {
    float: right; }
  .dd-row-fluid .span-1 {
    width: 100%; }
  .dd-row-fluid .span-2 {
    width: 100%; }
  .dd-row-fluid .span-3 {
    width: 100%; }
  .dd-row-fluid .span-4 {
    width: 100%; }
  .dd-row-fluid .span-5 {
    width: 100%; }
  .dd-row-fluid .span-6 {
    width: 100%; }
  .dd-row-fluid .span-7 {
    width: 100%; }
  .dd-row-fluid .span-8 {
    width: 100%; }
  .dd-row-fluid .span-9 {
    width: 100%; }
  .dd-row-fluid .span-10 {
    width: 100%; }
  .dd-row-fluid .span-11 {
    width: 100%; }
  .dd-row-fluid .span-12 {
    width: 100%; }
  @media only screen and (min-width: 768px) {
    .dd-row-fluid .span-1 {
      width: 6.3802083333%; }
    .dd-row-fluid .span-2 {
      width: 14.84375%; }
    .dd-row-fluid .span-3 {
      width: 23.3072916667%; }
    .dd-row-fluid .span-4 {
      width: 31.7708333333%; }
    .dd-row-fluid .span-5 {
      width: 40.234375%; }
    .dd-row-fluid .span-6 {
      width: 48.6979166667%; }
    .dd-row-fluid .span-7 {
      width: 57.1614583333%; }
    .dd-row-fluid .span-8 {
      width: 65.625%; }
    .dd-row-fluid .span-9 {
      width: 74.0885416667%; }
    .dd-row-fluid .span-10 {
      width: 82.5520833333%; }
    .dd-row-fluid .span-11 {
      width: 91.015625%; }
    .dd-row-fluid .span-12 {
      width: 99.4791666667%; }
    .dd-row-fluid [class*="span"],
    .dd-row-fluid [class*="span"].has-gutter {
      margin-left: 2.0833333333%; } }
  @media only screen and (min-width: 1080px) {
    .dd-row-fluid .span-1 {
      width: 6.9010390625%; }
    .dd-row-fluid .span-2 {
      width: 15.364578125%; }
    .dd-row-fluid .span-3 {
      width: 23.8281171875%; }
    .dd-row-fluid .span-4 {
      width: 32.29165625%; }
    .dd-row-fluid .span-5 {
      width: 40.7551953125%; }
    .dd-row-fluid .span-6 {
      width: 49.218734375%; }
    .dd-row-fluid .span-7 {
      width: 57.6822734375%; }
    .dd-row-fluid .span-8 {
      width: 66.1458125%; }
    .dd-row-fluid .span-9 {
      width: 74.6093515625%; }
    .dd-row-fluid .span-10 {
      width: 83.072890625%; }
    .dd-row-fluid .span-11 {
      width: 91.5364296875%; }
    .dd-row-fluid .span-12 {
      width: 99.99996875%; }
    .dd-row-fluid [class*="span"],
    .dd-row-fluid [class*="span"].has-gutter {
      margin-left: 1.5625%; } }

body {
  background-color: #141414;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5em; }
  @media only screen and (min-width: 768px) {
    body {
      font-size: 14px; } }
  @media only screen and (min-width: 1080px) {
    body {
      font-size: 16px; } }

p {
  font-size: 12px;
  line-height: 1.5em; }
  @media only screen and (min-width: 768px) {
    p {
      font-size: 14px; } }
  @media only screen and (min-width: 1080px) {
    p {
      font-size: 16px; } }

.dd-container {
  padding: 0 15px; }
  @media only screen and (min-width: 768px) {
    .dd-container {
      padding: 0 20px; } }
  @media only screen and (min-width: 1080px) {
    .dd-container {
      padding: 0 50px; } }

.header-fixed header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1; }

.dd-s-section {
  padding-bottom: 60px; }

header .dd-b-header .dd-logo {
  text-align: center;
  padding: 10px 0; }
  @media only screen and (min-width: 768px) {
    header .dd-b-header .dd-logo {
      padding: 20px 0;
      text-align: left; } }
  header .dd-b-header .dd-logo a {
    display: inline-block; }
    header .dd-b-header .dd-logo a:last-child {
      display: none; }
    header .dd-b-header .dd-logo a img {
      width: 150px;
      margin-left: auto;
      margin-right: auto; }
      @media only screen and (min-width: 768px) {
        header .dd-b-header .dd-logo a img {
          margin-left: inherit; } }
header .dd-b-header ul {
  text-align: center;
  padding-left: 0; }
  @media only screen and (min-width: 768px) {
    header .dd-b-header ul {
      height: 93px;
      line-height: 93px;
      text-align: right; } }
  header .dd-b-header ul li {
    display: inline-block;
    list-style: none;
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 11px;
    text-transform: uppercase; }
    @media only screen and (min-width: 768px) {
      header .dd-b-header ul li {
        font-size: 14px; } }
    @media only screen and (min-width: 1080px) {
      header .dd-b-header ul li {
        font-size: 18px; } }
    header .dd-b-header ul li:last-child {
      margin-right: 0; }
    header .dd-b-header ul li.active a {
      background: #ed1f2d; }
    header .dd-b-header ul li a {
      color: #ffffff;
      padding: 3px; }
      header .dd-b-header ul li a:hover {
        background-color: #ed1f2d;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease; }

@media only screen and (min-width: 768px) {
  .red-header .dd-b-header .dd-logo {
    text-align: center; } }
.red-header .dd-b-header .dd-logo a:last-child {
  display: inline-block !important; }
  .red-header .dd-b-header .dd-logo a:last-child img {
    margin: 0 auto;
    width: 140px; }
.red-header .dd-b-header .dd-logo a:first-child {
  display: none !important; }
.red-header .dd-b-header .dd-container {
  padding: 0; }
  .red-header .dd-b-header .dd-container .span-4 {
    width: 100%;
    background-color: #ed1f2d; }
  .red-header .dd-b-header .dd-container .span-8 {
    width: 100%;
    background-color: #323232;
    margin-left: 0; }
    .red-header .dd-b-header .dd-container .span-8 ul {
      text-align: center;
      padding: 8px 15px 0 15px; }
      @media only screen and (min-width: 768px) {
        .red-header .dd-b-header .dd-container .span-8 ul {
          padding: 0;
          height: 60px;
          line-height: 60px; } }

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-color: #323232;
  color: #ffffff;
  padding-top: 15px;
  font-size: 12px;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    footer {
      padding-top: 0;
      font-size: 14px;
      height: 50px;
      line-height: 50px; } }
  @media only screen and (min-width: 1080px) {
    footer {
      font-size: 16px;
      height: 60px;
      line-height: 60px;
      background-color: rgba(0, 0, 0, 0.7); } }
  footer .dd-head {
    margin-bottom: 15px; }
    @media only screen and (min-width: 768px) {
      footer .dd-head {
        margin-bottom: 0;
        text-align: left; } }
  footer .dd-foot {
    margin-bottom: 10px; }
    @media only screen and (min-width: 768px) {
      footer .dd-foot {
        padding-top: 8px; } }
    @media only screen and (min-width: 1080px) {
      footer .dd-foot {
        padding-top: 12px; } }
    footer .dd-foot a {
      display: inline-block;
      color: #ffffff;
      width: 22px;
      height: 22px;
      margin: 5px;
      font-size: 14px;
      position: relative;
      border: 2px solid #ffffff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      footer .dd-foot a:hover {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      footer .dd-foot a i {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    @media only screen and (min-width: 768px) {
      footer .dd-foot {
        text-align: right; } }

.dd-s-works ul {
  background-color: #141414;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 0; }
  @media only screen and (min-width: 1080px) {
    .dd-s-works ul {
      font-size: 16px;
      padding: 0;
      height: 100px;
      line-height: 100px; } }
  .dd-s-works ul li {
    display: inline-block;
    color: #ffffff;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 5px;
    padding-bottom: 3px; }
    @media only screen and (min-width: 768px) {
      .dd-s-works ul li {
        margin-bottom: 0; } }
    .dd-s-works ul li a {
      padding: 3px;
      color: #ffffff;
      position: relative; }
      .dd-s-works ul li a:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 50%;
        bottom: 0;
        opacity: 0;
        max-width: 0;
        background-color: #ed1f2d;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out; }
      .dd-s-works ul li a:hover:before {
        opacity: 1;
        max-width: 100%;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out; }
    .dd-s-works ul li.active a:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      opacity: 1;
      max-width: 100%;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      bottom: 0;
      background-color: #ed1f2d; }

.dd-content-works {
  padding-bottom: 100px; }
  @media only screen and (min-width: 1080px) {
    .dd-content-works {
      padding-bottom: 0; } }
  .dd-content-works .dd-container {
    font-size: 0;
    line-height: 0; }
    @media only screen and (min-width: 1080px) {
      .dd-content-works .dd-container {
        padding: 0; } }
    .dd-content-works .dd-container .dd-project-item {
      position: relative;
      height: 220px;
      width: 100%;
      margin-bottom: 15px;
      overflow: hidden; }
      @media only screen and (min-width: 768px) {
        .dd-content-works .dd-container .dd-project-item {
          width: calc(50% - 7.5px);
          display: inline-block;
          margin-right: 15px; }
          .dd-content-works .dd-container .dd-project-item:nth-child(2n) {
            margin-right: 0; } }
      @media only screen and (min-width: 1080px) {
        .dd-content-works .dd-container .dd-project-item {
          width: 20%;
          margin-right: 0;
          margin-bottom: 0;
          height: 205px; } }
      @media only screen and (min-width: 1400px) {
        .dd-content-works .dd-container .dd-project-item {
          height: 215px; } }
      @media only screen and (min-width: 1600px) {
        .dd-content-works .dd-container .dd-project-item {
          height: 240px; } }
      @media only screen and (min-width: 1800px) {
        .dd-content-works .dd-container .dd-project-item {
          height: 290px; } }
      .dd-content-works .dd-container .dd-project-item a img {
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out; }
      .dd-content-works .dd-container .dd-project-item a:hover img {
        opacity: 0;
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out; }
      .dd-content-works .dd-container .dd-project-item a:hover .dd-content {
        opacity: 1;
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out; }
      .dd-content-works .dd-container .dd-project-item a:hover .dd-feature-image:before {
        content: "";
        display: block;
        position: absolute;
        opacity: 1;
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out; }
      .dd-content-works .dd-container .dd-project-item a .dd-feature-image {
        position: relative; }
        .dd-content-works .dd-container .dd-project-item a .dd-feature-image:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0;
          -webkit-transition: all 400ms ease-in-out;
          -moz-transition: all 400ms ease-in-out;
          -o-transition: all 400ms ease-in-out;
          transition: all 400ms ease-in-out; }
        .dd-content-works .dd-container .dd-project-item a .dd-feature-image img {
          min-width: 100%;
          height: 100%;
          object-fit: cover; }
      .dd-content-works .dd-container .dd-project-item a .dd-content {
        position: absolute;
        width: 95%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #ffffff;
        text-align: center;
        -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out; }
        @media only screen and (min-width: 1080px) {
          .dd-content-works .dd-container .dd-project-item a .dd-content {
            opacity: 0; } }
        .dd-content-works .dd-container .dd-project-item a .dd-content h4 {
          font-size: 18px;
          text-transform: uppercase;
          margin-bottom: 10px; }
        .dd-content-works .dd-container .dd-project-item a .dd-content p {
          font-size: 16px; }
      .dd-content-works .dd-container .dd-project-item a .dd-feature-image {
        background-size: cover; }

@media only screen and (min-width: 1080px) {
  .dd-s-reel .dd-vimeo {
    width: 100%;
    height: auto; } }
.dd-s-reel .dd-vimeo iframe {
  width: 100%;
  height: calc(100vh - 216px);
  max-height: 100vh !important; }
  @media only screen and (min-width: 768px) {
    .dd-s-reel .dd-vimeo iframe {
      height: calc(100vh - 210px); } }
  @media only screen and (min-width: 1080px) {
    .dd-s-reel .dd-vimeo iframe {
      height: 100%; } }

@media only screen and (min-width: 1080px) {
  .dd-s-about .dd-container {
    max-width: 1280px;
    margin: 0 auto; } }
.dd-s-about .dd-container .dd-banner {
  padding-top: 20px;
  padding-bottom: 20px; }
  @media only screen and (min-width: 1080px) {
    .dd-s-about .dd-container .dd-banner {
      padding-top: 40px;
      padding-bottom: 40px; } }
  @media only screen and (min-width: 1800px) {
    .dd-s-about .dd-container .dd-banner {
      padding-top: 60px;
      padding-bottom: 60px; } }
  .dd-s-about .dd-container .dd-banner img {
    min-width: 100%;
    height: 170px;
    object-fit: cover; }
    @media only screen and (min-width: 768px) {
      .dd-s-about .dd-container .dd-banner img {
        height: 250px; } }
    @media only screen and (min-width: 1080px) {
      .dd-s-about .dd-container .dd-banner img {
        height: 350px; } }
    @media only screen and (min-width: 1800px) {
      .dd-s-about .dd-container .dd-banner img {
        height: 400px; } }
.dd-s-about .dd-container .dd-content-about h2 {
  color: #ed1f2d;
  font-size: 20px;
  margin-bottom: 20px; }
  @media only screen and (min-width: 1080px) {
    .dd-s-about .dd-container .dd-content-about h2 {
      font-size: 36px;
      line-height: 44px; } }
.dd-s-about .dd-container .dd-content-about p {
  color: #ffffff;
  margin-bottom: 20px; }
  @media only screen and (min-width: 1080px) {
    .dd-s-about .dd-container .dd-content-about p {
      margin-bottom: 30px; } }

.dd-s-home {
  padding-bottom: 0;
  padding-top: 0; }

.dd-s-clients {
  padding-top: 20px; }
  @media only screen and (min-width: 768px) {
    .dd-s-clients {
      padding-top: 40px; } }
  @media only screen and (min-width: 1080px) {
    .dd-s-clients {
      padding-top: 100px; } }
  .dd-s-clients .dd-container {
    font-size: 0;
    text-align: center; }
    .dd-s-clients .dd-container a {
      display: inline-block;
      width: 50%;
      margin-bottom: 20px; }
      @media only screen and (min-width: 768px) {
        .dd-s-clients .dd-container a {
          width: 25%; } }
      @media only screen and (min-width: 1080px) {
        .dd-s-clients .dd-container a {
          width: 10%; } }
      .dd-s-clients .dd-container a img {
        width: 100%; }

.dd-s-contact {
  padding-top: 30px;
  padding-bottom: 100px; }
  @media only screen and (min-width: 768px) {
    .dd-s-contact {
      padding-top: 60px; } }
  @media only screen and (min-width: 1080px) {
    .dd-s-contact {
      padding-top: 100px; } }
  .dd-s-contact .dd-container {
    max-width: 1280px;
    margin: 0 auto; }
    .dd-s-contact .dd-container h1 {
      color: #ed1f2d;
      font-size: 18px;
      margin-bottom: 10px; }
      @media only screen and (min-width: 768px) {
        .dd-s-contact .dd-container h1 {
          font-size: 20px;
          margin-bottom: 15px; } }
      @media only screen and (min-width: 1080px) {
        .dd-s-contact .dd-container h1 {
          font-size: 24px;
          margin-bottom: 20px; } }
    .dd-s-contact .dd-container ul {
      padding-left: 0; }
      .dd-s-contact .dd-container ul li {
        list-style: none;
        margin-bottom: 10px; }
        @media only screen and (min-width: 768px) {
          .dd-s-contact .dd-container ul li {
            margin-bottom: 15px; } }
        @media only screen and (min-width: 1080px) {
          .dd-s-contact .dd-container ul li {
            margin-bottom: 20px; } }
    .dd-s-contact .dd-container form input {
      margin-bottom: 20px;
      font-style: italic; }
      .dd-s-contact .dd-container form input::placeholder {
        color: #ffffff; }
      .dd-s-contact .dd-container form input[type=text], .dd-s-contact .dd-container form input[type=email] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #ffffff;
        height: 60px;
        line-height: 60px;
        text-indent: 15px;
        width: 100%;
        background: #3d3d3d;
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0; }
      .dd-s-contact .dd-container form input[type=submit] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #ffffff;
        height: 50px;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        background: #ed1f2d;
        padding: 0 50px;
        cursor: pointer; }
    .dd-s-contact .dd-container form textarea {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: #ffffff;
      text-indent: 15px;
      width: 100%;
      background: #3d3d3d;
      border: 0;
      resize: none;
      margin-bottom: 20px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      font-style: italic; }
      .dd-s-contact .dd-container form textarea::placeholder {
        color: #ffffff; }
    .dd-s-contact .dd-container form p {
      color: #3d3d3d;
      margin-bottom: 20px; }
  .dd-s-contact .confirm-container h2 {
    margin-bottom: 15px; }
  .dd-s-contact .confirm-container p {
    margin-bottom: 20px; }

.dd-s-work-detail .dd-vimeo {
  margin-bottom: 30px; }
  @media only screen and (min-width: 1080px) {
    .dd-s-work-detail .dd-vimeo {
      width: 100%;
      height: auto; } }
  .dd-s-work-detail .dd-vimeo iframe {
    width: 100%;
    height: 50%;
    max-height: 100vh !important; }
    @media only screen and (min-width: 1080px) {
      .dd-s-work-detail .dd-vimeo iframe {
        height: 100%; } }
.dd-s-work-detail .dd-feature-image {
  width: 100%;
  height: 300px;
  margin-bottom: 30px; }
  @media only screen and (min-width: 768px) {
    .dd-s-work-detail .dd-feature-image {
      height: 400px; } }
  @media only screen and (min-width: 1080px) {
    .dd-s-work-detail .dd-feature-image {
      height: 600px; } }
  .dd-s-work-detail .dd-feature-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
.dd-s-work-detail .dd-container {
  max-width: 1280px;
  margin: 0 auto; }
.dd-s-work-detail .dd-b-content-work-detail {
  margin-bottom: 50px; }
  @media only screen and (min-width: 1080px) {
    .dd-s-work-detail .dd-b-content-work-detail {
      margin-bottom: 100px; } }
  .dd-s-work-detail .dd-b-content-work-detail h2 {
    font-size: 24px;
    color: #ed1f2d;
    margin-bottom: 20px; }
  .dd-s-work-detail .dd-b-content-work-detail p {
    margin-bottom: 20px; }
  .dd-s-work-detail .dd-b-content-work-detail ul {
    padding-left: 0; }
    @media only screen and (min-width: 768px) {
      .dd-s-work-detail .dd-b-content-work-detail ul {
        padding-left: 50px; } }
    @media only screen and (min-width: 1080px) {
      .dd-s-work-detail .dd-b-content-work-detail ul {
        padding-left: 130px; } }
    .dd-s-work-detail .dd-b-content-work-detail ul li {
      list-style: none;
      margin-bottom: 15px; }
.dd-s-work-detail .dd-b-gallery-work-detail .dd-b-work-detail-slider {
  margin-bottom: 30px; }
  .dd-s-work-detail .dd-b-gallery-work-detail .dd-b-work-detail-slider .dd-b-slide {
    font-size: 0;
    line-height: 0;
    height: auto; }
    .dd-s-work-detail .dd-b-gallery-work-detail .dd-b-work-detail-slider .dd-b-slide a {
      width: 50%;
      height: 105px;
      display: inline-block; }
      @media only screen and (min-width: 768px) {
        .dd-s-work-detail .dd-b-gallery-work-detail .dd-b-work-detail-slider .dd-b-slide a {
          height: 215px; } }
      @media only screen and (min-width: 1080px) {
        .dd-s-work-detail .dd-b-gallery-work-detail .dd-b-work-detail-slider .dd-b-slide a {
          height: 375px; } }
      @media only screen and (min-width: 1400px) {
        .dd-s-work-detail .dd-b-gallery-work-detail .dd-b-work-detail-slider .dd-b-slide a {
          height: 400px; } }
      @media only screen and (min-width: 1600px) {
        .dd-s-work-detail .dd-b-gallery-work-detail .dd-b-work-detail-slider .dd-b-slide a {
          height: 450px; } }
      @media only screen and (min-width: 1800px) {
        .dd-s-work-detail .dd-b-gallery-work-detail .dd-b-work-detail-slider .dd-b-slide a {
          height: 530px; } }
      .dd-s-work-detail .dd-b-gallery-work-detail .dd-b-work-detail-slider .dd-b-slide a img {
        min-width: 100%;
        height: 100%;
        object-fit: cover; }
  @media only screen and (min-width: 1080px) {
    .dd-s-work-detail .dd-b-gallery-work-detail .dd-b-work-detail-slider {
      margin-bottom: 50px; } }
.dd-s-work-detail .dd-b-gallery-work-detail .dd-arrow-slider {
  text-align: center;
  margin-bottom: 150px; }
  .dd-s-work-detail .dd-b-gallery-work-detail .dd-arrow-slider a {
    display: inline-block;
    color: #9c9c9c;
    margin-right: 20px; }
    .dd-s-work-detail .dd-b-gallery-work-detail .dd-arrow-slider a:last-child {
      margin-right: 0; }
    .dd-s-work-detail .dd-b-gallery-work-detail .dd-arrow-slider a.arrow-slider {
      width: 41px;
      height: 41px;
      border: 2px solid #9c9c9c;
      position: relative; }
      .dd-s-work-detail .dd-b-gallery-work-detail .dd-arrow-slider a.arrow-slider:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 15px;
        border-top: 2px solid #9c9c9c;
        border-right: 2px solid #9c9c9c;
        -webkit-transform: translate(-75%, -50%) rotate(45deg);
        -moz-transform: translate(-75%, -50%) rotate(45deg);
        -o-transform: translate(-75%, -50%) rotate(45deg);
        -ms-transform: translate(-75%, -50%) rotate(45deg);
        transform: translate(-75%, -50%) rotate(45deg); }
      .dd-s-work-detail .dd-b-gallery-work-detail .dd-arrow-slider a.arrow-slider.arrow-slider-pre:before {
        -webkit-transform: translate(-25%, -50%) rotate(-135deg);
        -moz-transform: translate(-25%, -50%) rotate(-135deg);
        -o-transform: translate(-25%, -50%) rotate(-135deg);
        -ms-transform: translate(-25%, -50%) rotate(-135deg);
        transform: translate(-25%, -50%) rotate(-135deg); }

.mobile-hidden {
  display: none; }

.tablet-hidden {
  display: inherit; }

@media only screen and (min-width: 768px) {
  .mobile-hidden {
    display: inherit; }

  .tablet-hidden {
    display: none; } }
.dd-menu-button {
  font-size: 0;
  line-height: 0;
  float: right;
  width: 28px;
  height: 40px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .dd-menu-button .dd-bars {
    width: 28px;
    height: 40px;
    display: block;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    z-index: 105; }
    .dd-menu-button .dd-bars:after {
      width: 28px;
      height: 40px;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none; }
    .dd-menu-button .dd-bars .dd-bar {
      width: 28px;
      height: 2px;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;
      overflow: hidden;
      position: absolute;
      z-index: 10;
      -webkit-transition-duration: 0.6s;
      transition-duration: 0.6s;
      -webkit-transition-timing-function: cubic-bezier("0.19, 1, 0.22, 1");
      transition-timing-function: cubic-bezier("0.19, 1, 0.22, 1"); }
      .dd-menu-button .dd-bars .dd-bar .dd-bar-in {
        width: 84px;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition-duration: 0.6s;
        transition-duration: 0.6s;
        -webkit-transition-timing-function: cubic-bezier("0.19, 1, 0.22, 1");
        transition-timing-function: cubic-bezier("0.19, 1, 0.22, 1"); }
        .dd-menu-button .dd-bars .dd-bar .dd-bar-in:before, .dd-menu-button .dd-bars .dd-bar .dd-bar-in:after {
          width: 28px;
          height: 2px;
          content: "";
          display: block;
          position: absolute;
          top: 0;
          background-color: white;
          -webkit-transition-timing-function: cubic-bezier("0.19, 1, 0.22, 1");
          transition-timing-function: cubic-bezier("0.19, 1, 0.22, 1");
          -webkit-transition-property: -webkit-transform;
          transition-property: -webkit-transform;
          transition-property: transform;
          transition-property: transform, -webkit-transform; }
          .is-mini .dd-menu-button .dd-bars .dd-bar .dd-bar-in:before, .is-mini .dd-menu-button .dd-bars .dd-bar .dd-bar-in:after {
            background-color: white; }
        .dd-menu-button .dd-bars .dd-bar .dd-bar-in:before {
          left: -56px; }
        .dd-menu-button .dd-bars .dd-bar .dd-bar-in:after {
          left: 0; }
        .dd-menu-button .dd-bars .dd-bar .dd-bar-in.dd-bar-in-cross-01, .dd-menu-button .dd-bars .dd-bar .dd-bar-in.dd-bar-in-cross-02 {
          -webkit-transform: translateX(-33.3%);
          transform: translateX(-33.3%);
          -moz-opacity: 0;
          -khtml-opacity: 0;
          -webkit-opacity: 0;
          opacity: 0;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          filter: alpha(opacity=0); }
        .dd-menu-button .dd-bars .dd-bar .dd-bar-in.dd-bar-in-cross-01 {
          -webkit-transition-delay: 0.0s;
          transition-delay: 0.0s; }
        .dd-menu-button .dd-bars .dd-bar .dd-bar-in.dd-bar-in-cross-02 {
          -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s; }
          .dd-menu-button .dd-bars .dd-bar .dd-bar-in.dd-bar-in-cross-02:before, .dd-menu-button .dd-bars .dd-bar .dd-bar-in.dd-bar-in-cross-02:after {
            -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s; }
        .dd-menu-button .dd-bars .dd-bar .dd-bar-in.dd-bar-in-01 {
          -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s; }
        .dd-menu-button .dd-bars .dd-bar .dd-bar-in.dd-bar-in-02 {
          -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s; }
          .dd-menu-button .dd-bars .dd-bar .dd-bar-in.dd-bar-in-02:before, .dd-menu-button .dd-bars .dd-bar .dd-bar-in.dd-bar-in-02:after {
            -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s; }
        .dd-menu-button .dd-bars .dd-bar .dd-bar-in.dd-bar-in-03 {
          -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s; }
          .dd-menu-button .dd-bars .dd-bar .dd-bar-in.dd-bar-in-03:before, .dd-menu-button .dd-bars .dd-bar .dd-bar-in.dd-bar-in-03:after {
            -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s; }
      .dd-menu-button .dd-bars .dd-bar.dd-bar-01, .dd-menu-button .dd-bars .dd-bar.dd-bar-02, .dd-menu-button .dd-bars .dd-bar.dd-bar-03, .dd-menu-button .dd-bars .dd-bar.dd-bar-cross-01, .dd-menu-button .dd-bars .dd-bar.dd-bar-cross-02 {
        left: 0px; }
      .dd-menu-button .dd-bars .dd-bar.dd-bar-01 {
        top: 11px; }
      .dd-menu-button .dd-bars .dd-bar.dd-bar-02, .dd-menu-button .dd-bars .dd-bar.dd-bar-cross-01, .dd-menu-button .dd-bars .dd-bar.dd-bar-cross-02 {
        top: 19px; }
      .dd-menu-button .dd-bars .dd-bar.dd-bar-03 {
        top: 27px; }
      .dd-menu-button .dd-bars .dd-bar.dd-bar-cross-01 {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .dd-menu-button .dd-bars .dd-bar.dd-bar-cross-02 {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .is-opened .dd-menu-button .dd-bars .dd-bar .dd-bar-in:before, .is-opened .dd-menu-button .dd-bars .dd-bar .dd-bar-in:after {
      background-color: #323232 !important; }
    .is-opened .dd-menu-button .dd-bars .dd-bar .dd-bar-in-01,
    .is-opened .dd-menu-button .dd-bars .dd-bar .dd-bar-in-02,
    .is-opened .dd-menu-button .dd-bars .dd-bar .dd-bar-in-03 {
      -webkit-transform: translateX(33.3%);
      transform: translateX(33.3%); }
    .is-opened .dd-menu-button .dd-bars .dd-bar .dd-bar-in-01 {
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    .is-opened .dd-menu-button .dd-bars .dd-bar .dd-bar-in-02 {
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s; }
    .is-opened .dd-menu-button .dd-bars .dd-bar .dd-bar-in-03 {
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s; }
    .is-opened .dd-menu-button .dd-bars .dd-bar .dd-bar-in-cross-01,
    .is-opened .dd-menu-button .dd-bars .dd-bar .dd-bar-in-cross-02 {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      -webkit-opacity: 1;
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100); }
    .is-opened .dd-menu-button .dd-bars .dd-bar .dd-bar-in-cross-01 {
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s; }
    .is-opened .dd-menu-button .dd-bars .dd-bar .dd-bar-in-cross-02 {
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s; }
    .is-opened .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-cross-01::before,
    .is-opened .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-cross-01::after,
    .is-opened .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-cross-02::before,
    .is-opened .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-cross-02::after {
      -webkit-transition-duration: 1s;
      transition-duration: 1s; }
    .is-opened .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-01::before,
    .is-opened .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-01::after,
    .is-opened .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-02::before,
    .is-opened .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-02::after,
    .is-opened .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-03::before,
    .is-opened .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-03::after {
      -webkit-transition-duration: 0s;
      transition-duration: 0s; }
    .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in:before, .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in:after {
      -webkit-transform: translateX(200%);
      transform: translateX(200%); }
    .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-01::before,
    .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-01::after,
    .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-02::before,
    .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-02::after,
    .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-03::before,
    .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-03::after {
      -webkit-transition-duration: 1s;
      transition-duration: 1s; }
    .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-cross-01::before,
    .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-cross-01::after,
    .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-cross-02::before,
    .dd-menu-button .dd-bars:hover .dd-bar .dd-bar-in-cross-02::after {
      -webkit-transition-duration: 0s;
      transition-duration: 0s; }

.dd-b-header-moblie {
  padding: 16px 0; }
  .dd-b-header-moblie .dd-container .dd-b-head {
    position: relative;
    z-index: 99;
    font-size: 0;
    line-height: 0; }
    .dd-b-header-moblie .dd-container .dd-b-head .dd-logo {
      display: inline-block;
      vertical-align: top;
      z-index: 100;
      position: relative; }
      .dd-b-header-moblie .dd-container .dd-b-head .dd-logo img {
        height: 40px;
        width: auto; }
    .dd-b-header-moblie .dd-container .dd-b-head .dd-menu-button {
      font-size: 0;
      line-height: 0;
      float: right;
      width: 28px;
      height: 40px;
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .dd-b-header-moblie .dd-container .dd-b-menu {
    overflow: hidden;
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: #FFFFFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); }
    .dd-b-header-moblie .dd-container .dd-b-menu ul {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 100%; }
      .dd-b-header-moblie .dd-container .dd-b-menu ul li {
        font-size: 16px;
        margin-bottom: 15px;
        line-height: 25px;
        text-align: center; }
        .dd-b-header-moblie .dd-container .dd-b-menu ul li a {
          color: #323232; }
        .dd-b-header-moblie .dd-container .dd-b-menu ul li.active a {
          color: #ef202f; }

.is-opened .dd-b-header-moblie .dd-b-menu {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100); }
