<section class="dd-s-section dd-s-reel">
    <div class="dd-vimeo">
        <iframe src="https://player.vimeo.com/video/{{cpReel.vimeo_id}}?title=0&byline=0&portrait=0&autoplay=true"
                frameborder="0"
                webkitAllowFullScreen
                mozallowfullscreen
                allowFullScreen>
        </iframe>
    </div>
</section>