<section class="dd-s-section dd-s-works">
    <div class="dd-container">
        <ul>
            <li class="active">
                <a href="{{'/works'|app}}">All</a>
            </li>
            {% for category in categories %}
            <li>
                    <a href="#"
                       data-request="onFilterWork"
                       data-request-data="categoryId: {{ category.id }}"
                       data-request-success="$('.dd-s-works ul li').removeClass('active');$(this).parent().addClass('active');console.log(data)"
                       data-request-update="filterwork: '#filterproject'"
                    >{{category.category_work_name}}</a>

            </li>
            {% endfor%}
        </ul>
    </div>
    <div class="dd-b-content dd-content-works">
        <div class="dd-container">
            <div id="filterproject">
                {% partial "filterwork" cpWorkAll=cpWorkAll%}
            </div>
        </div>
    </div>
</section>
