<section class="dd-s-section dd-s-home">
    <div id="fullpage">
        <div class="section active">
            <video id="video" autoplay muted loop poster="{{cpHome.feature_image.path}}">
                <source src="{{cpHome.video_top | media}}" type="video/mp4">
            </video>
        </div>
    </div>
</section>