<section class="dd-s-section dd-s-contact">
    <div class="dd-container">
        <div class="dd-row-fluid">
            <div class="span-6">
                <h1>{{cpContact.company_name}}</h1>
                <ul>
                    {% for info in cpContact.contact_info%}
                    <li>{{info.title}}: {{info.decription}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="span-6">
                {% partial "contact" %}

            </div>
        </div>
    </div>
</section>